/*********** common css started *************/
*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
body,h1,h2,h3,h4,h5,h6,a,span,strong{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 98%;
    max-width: 87.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin: auto;
}
img{
    max-width: 100%;
}
section{
    padding: 5rem 5rem;
    margin-bottom: 1rem;
}
/*********** banner-section *************/
.banner-section{
    background-image: url(/images/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
.banner-section::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000054;
    top: 0;
    left: 0;
    z-index: -1;
}
.banner-title{
    color: #fff;
    padding: 4rem 0;
    width: 40rem;
}
.banner-title h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.banner-title p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
/** common button **/
.common-button{
    text-decoration: none;
    background: #ff5200;
    display: inline-block;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    border-radius: 0.2rem;
    position: relative;
    z-index: 1;
}
.common-button:hover::after{
    visibility: visible;
    opacity: 1;
    width: 100%;
}
.common-button::after{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    background: #e74c3c;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.2rem;
    visibility: hidden;
    opacity: 0;
    transition: .5s ease-in-out;
}
/*************** hero-section *****************/
.hero-items{
    display: flex;
}
.hero-content{
    width: 48%;
    position: relative;
}
.hero-content h1 {
    font-size: 2rem;
    font-weight: 600;
    display: block;
    margin-bottom: 1rem;
}
.hero-content p {
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
    color: #999;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.hero-content img{
    width: 100%;
    height: auto;
}
.play-button {
    position: absolute;
    display: inline-block;
    top: 40%;
    left: 45%;
    color: #fff;
    font-size: 4rem;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.play-button:hover{
    color: #ff5200;
}
/************* about-section ************/
#about-content {
    margin-left: 2rem;
    margin-top: 1rem;
}
#about-content p{
    line-height: 2rem;
}
/*************** service-section ***************/
.service-section{
    background-image: url(/images/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.servcie-title {
    text-align: center;
    padding: 0 18rem;
    margin-bottom: 2rem;
}
.servcie-title h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.servcie-title p {
    font-size: 1rem;
    color: #b18f8f;
    font-weight: 400;
}
.service-items {
    display: flex;
    padding: 0 2rem;
}
.service-box {
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding:3rem;
    border-radius: 1rem;
    background: #f7e5e3;
    width: 50%;
    display: flex;
}
.service-icon {
    margin-right: 2rem;
}
.service-icon span {
    display: block;
    color: #2980b9;
    font-size: 2rem;
    position: relative;
    top: -1rem;
}
.service-content h4 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.service-content p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
}
/******* testimonials-section ****************/
.testimonials-items{
    display: flex;
}
.testimonials-box {
    width: 33%;
    margin-left: 1rem;
    margin-right: 2rem;
    background: #ecf0f1;
    border: 0.063rem solid #ddd;
    border-radius: 1rem;
}
.testimonials-box:first-child{
    margin-left: 0;
}
.testimonials-box:last-child{
    margin-right: 0;
}
.testimonials-box img{
    width: 100%;
}
.testimonials-box img{
    border-radius: 1rem 1rem 0 0;
}
.test-content{
    padding: 1rem;
}
.test-content h4 {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
    font-weight: 600;
}
.test-content p{
    font-size: 0.8rem;
    color: rgb(117, 112, 112);
    margin-bottom: 0.5rem;
}
.test-content a {
    display: inline-block;
    color: #ff5200;
    font-size: 1rem;
    margin-bottom: 1rem;
}
/************ footer-area *************/
.footer-area{
    background: #000;
    padding: 2rem;
    text-align: center;
}
.footer-area p{
   color: #ff5200;
   margin-bottom: 1rem;
   font-size: 1.6rem;
   font-weight: 700;
}
.footer-area span{
    color: #fff;
    display: block;
    font-size: 1rem;
}